.connect-card{
    min-width: 30vw;
    max-width: 30vw;
    min-height: 30vh;
    flex-direction: column;
    padding: 2px 16px;
    display: flex;
    border-radius: 5px;
    border: 2px solid #f1976b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-layout {
    flex-direction: row;
    margin-right: 40px;
    gap: 10px 10px;
    min-width: 30vw;
    padding: 2px 16px;
    display:flex;
    flex-wrap: wrap;
}

