.profileContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 10px 20px;
    columns: 10px;
    }

.pic-name {
    /* Add shadows to create the "card" effect */
    min-width: 30vw;
    max-width: 30vw;
    min-height: 30vh;
    flex-direction: column;
    padding: 2px 16px;
    display: flex;
    border-radius: 5px;
    border: 2px solid #f1976b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.details {
    margin-right: 40px;
    gap: 10px 10px;
    min-width: 30vw;
    flex-direction: column;
    padding: 2px 16px;
    display: flex;
    border-radius: 5px;
    border: 2px solid #f1976b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.mySummary {
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 40px;
    min-width: 30vw;
    padding: 2px 16px;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 2px solid #f1976b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

.reviews {
    margin-top: 40px;
    min-width: 30vw;
    padding: 2px 16px;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 2px solid #f1976b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}