.profileContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 10px 20px;
    columns: 10px;
    }

.pic-name {
    /* Add shadows to create the "card" effect */
    min-width: 30vw;
    max-width: 30vw;
    min-height: 30vh;
    flex-direction: column;
    padding: 2px 16px;
    display: flex;
    border-radius: 5px;
    border: 2px solid #f1976b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



.details {
    margin-right: 40px;
    gap: 10px 10px;
    min-width: 30vw;
    flex-direction: column;
    padding: 2px 16px;
    display: flex;
    border-radius: 5px;
    border: 2px solid #f1976b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.mySummary {
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 40px;
    min-width: 30vw;
    padding: 2px 16px;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 2px solid #f1976b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }




h2 {
    font-weight: bold;
    /* color: #fff; */
    font-size: 120%;
  }

  h3 {
      font-size: 120%;
      padding-right: 10px;
  }


  h4 {
    font-size: 90%;
    padding-left: 30px;
}

label {
    font-size: 120%;
    /* font-weight: bold; */
}

#form_input {
    font-size: 80%;

}

.reviews {
    margin-top: 40px;
    min-width: 30vw;
    padding: 2px 16px;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 2px solid #f1976b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.buttonA {
    margin-left: 900px;
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonB {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.likebutton {
    margin-left: 900px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    min-width: 150px;
    min-height: 150px;
  }

  .dislikebutton {
    margin-left: 900px;
    background-color: #FE4D4D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    min-width: 150px;
    min-height: 150px;
  }

.Link {
    position: absolute;
    bottom: 0;
    right: 0;
  }