

.font-face-na{
  font-family:"NotablyAbsentRegular-8M2zJ";
}
.description{
  color: #f37435;
  background-position: center;
  
}
#mainover {
  color: #fff;
  font-size: 92px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right,#f1976b 10%, #30f067 50%, #25abe8 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.mainpage {
  background-image: url('image1.jpg');
  background-size: cover;
  background-position: center; 
  width: 100vw;
  height: 100vh; 
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  justify-content: center;
  animation: change 30s infinite linear;
  animation-delay: 2s;
}

footer {
  bottom: 50px;
  text-align: center;
  justify-content: center;

  }

.mainlink{
  background: #c99061;
  color: black;
  padding: 10px 24px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
  color: black;
}
.mainlink:hover {
  background-color: rgb(5, 216, 216);
  color: blueviolet;
}

@keyframes change {
  1%
  {
    background-image: url('image2.jpg');
  }
  25%
  {
    background-image: url('image3.jpg');
  }
  50%
  {
    background-image: url('image4.jpg');
  }
  75%
  {
    background-image: url('image5.jpg');
  }
  100%
  {
    background-image: url('image6.jpg');
  }
}
#terms {
  margin: auto;
  width: 50%;
}

