.row_login{
  background-image: url("bike.jpg"); 
  background-size: cover;
  background-position: center; 
  width: 100vw;
  height: 100vh; 
  background-repeat: no-repeat;
}

#outbox {
  position: absolute;
  left: 30px;
  opacity: 0.9;
  border-radius: 8%;
  background-color: rgba(255, 252, 252, 0.661);
}

#outbox :hover {
  filter: brightness(95%);
}

#loginusername {
  padding: 15px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid gray;
} 

#loginpagepass {
  padding: 15px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}



/* ----- */
.social-links {
  transition: 0.2s ease-in-out;
  position: center;
  list-style: none;
  display: flex;
  height: 80px;
  width: 300px;
}

.social-links:hover > li {
  transform: scale(0.95);
  filter: blur(2px);
}

.social-links li {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  place-items: center;
  cursor: pointer;
  display: grid;
  margin: auto;
  height: 40px;
  width: 40px;
}

.social-links li:hover {
  filter: blur(0px);
  transform: scale(1);
}

.social-links svg {
  transition: 0.2s ease-in-out;
  pointer-events: none;
  height: 20px;
  width: 20px;
}

.social-links li.google {
  background-color: #ea4335;
}

.social-links li.facebook {
  background-color: #3f51b5;
}

.social-links li.twitter {
  background-color: #03a9f4;
}

.social-links li.yahoo {
  background-color: #410093;
}

.social-links li.windows {
  background-color: #2499ff;
}
